@font-face{
    font-family: 'AppleGaramond-Italic';
    src: url('../FONT/AppleGaramond-Italic.ttf');
}
@font-face{
    font-family: 'CaviarDreams';
    src: url('../FONT/CaviarDreams.ttf');
}
@font-face{
    font-family: 'JaymontBoi_PERSONAL_USE';
    src: url('../FONT/JaymontBoi_PERSONAL_USE.ttf');
}
@font-face{
    font-family: 'JaymontLi_PERSONAL_USE';
    src: url('../FONT/JaymontLi_PERSONAL_USE.ttf');
}
@font-face{
    font-family: 'JaymontMe_PERSONAL_USE';
    src: url('../FONT/JaymontMe_PERSONAL_USE.ttf');
}
@font-face{
    font-family: 'JaymontThi_PERSONAL_USE';
    src: url('../FONT/JaymontThi_PERSONAL_USE.ttf');
}
@font-face{
    font-family: 'Roboto-Thin';
    src: url('../FONT/Roboto-Thin.ttf');
}
html{
    height: 100%;
}
p{
    font-family: "CaviarDreams";
}
h1,h2,h3,h4,h5,h6{
    font-family: 'JaymontBoi_PERSONAL_USE';
}
span{
    font-family: 'Roboto-Thin';
}
body{
 color: black;
}
*{
    box-sizing: border-box;
}
.s{
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}
.s div:first-child{
    width: 50%;
    color: black;
}
.s div:first-child span{
    margin-right: 25px;
}
.s div:first-child h5{
    margin: 0;
}
.s div:last-child{
    width: 50%;
    text-align: right;
    
}
.s div:last-child a{
    margin-right: 10px;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.16), 0 6px 10px rgba(0, 0,0, 0.23);
}
.s div:last-child a:hover{
    
}
.conteneur{
    width: 87%;
    margin: auto;
}
.carousel{
    width: 100%;
    height: 660px;
    background-image: url('../IMAGES/Sans\ titre-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 128px;
}
.img-reponsive{
    width: 100%;
    height: 550px;
}
.m1{
    display: flex;
    flex-direction: row;
}
.container{
    width: 85%;
    margin: auto;
    padding: auto;
    overflow: hidden;
}
.v1{
    display: flex;
    flex-direction: row;
}
.v1 div{
    width: 100%;
}
.inscr{
    padding: 25px 20px;
    width: 60%;
    margin: auto;
    float: right;
    background-color: rgba(245, 245, 245, 0.815);
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.16), 0 6px 10px rgba(0, 0,0, 0.23);
    margin-bottom: 20px;
}
.inc{
    padding: 80px 0px;
  
}
.in{
    display: flex;
    flex-direction: row;
}
.inp{
    width: 50%;
    padding: 10px;
}
.inp label{
    color: black;
    font-family: 'CaviarDreams';
    font-size: 18px;
    line-height: 1.5;
}
.inp input{
    width: 100%;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
    border:none;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Roboto-Thin';
}
.inp select{
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
    border:none;
    font-family: 'Roboto-Thin';
}
.bt{
    text-align: right;
    width: 100%;
}
.bt input{
    padding: 10px 30px;
    font-size: 20px;
    border:none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Roboto-Thin';
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
    background-color: whitesmoke
}
.bt input:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.16), 0 6px 10px rgba(0, 0,0, 0.23);
}

.s1-car{
    display: flex;
    flex-direction: row;
    padding: 50px 5px;
   
}
.s2-car{
    width: 33.33%;
    margin-right: 15px;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
}
.info{
    padding: 5px 20px;
    color: black;
}
.info h4{
    margin: 0;
}
.s2-car .img1{
    width: 100%;
}
.s-car{
    padding: 50px 0px;
    background-color: whitesmoke;
}
.info-btn{
    text-align: right;
}
.pre-tit h3{
    margin: 0;
    line-height: 0;
}
.error{
    width: 100%;
    padding: 15px 0px;
    border-radius: 10px;
    background-color:whitesmoke;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.10), 0 6px 10px rgba(0, 0,0, 0.12);
    font-family: 'AppleGaramond-Italic';
    font-size:20px;
    color: #cf1414;
}
.pied{
    width: 100%;
   /*background-image: linear-gradient(#ece9e6,#ffffff);*/
   background-image: linear-gradient(#232526,#414345);
  /*background-image: linear-gradient(#757f9a,#d7dde8);*/
}
.credit{
    padding: 15px 0px;
    font-family: 'AppleGaramond-Italic';
    font-size: 22px;
    background-color: rgb(240, 204, 106);
}
hr{
    margin :0;
}
.c1  li{
    list-style-type: none;
   
}
.cont0{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}
.cont0 div{
    width: 25%;
    
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.c1 h5{
    margin-bottom: 10px;
    color: whitesmoke;
    font-family: 'JaymontLi_PERSONAL_USE';
    font-size: 20px;
   
}
.c1 li a{
    font-family: 'CaviarDreams';
    font-style: italic;
    color:  whitesmoke;
    
    text-transform: capitalize;
}
.c1 li a:hover{
    text-decoration: underline;
}
.c1 div {
  width: 100%;
}
.c1 div a img{
    background-color: rgba(245, 245, 245, 0.554);
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
    margin-right: 5px;
 
}
.c1 div a img:hover{
    transition: 0.7s;
    background-color:  rgba(240, 204, 106, 0.61);
    border:none;
}
.c1 form input{
    width: 100%;
    background-color: whitesmoke;
    border:none;
    border-left: 2px rgb(5, 5, 5);
    font-family: 'CaviarDreams';
    font-size:16px;
    padding: 0px 8px;
    height: 45px;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
    margin-bottom: 20px;
}
.c1 form a{
   color:rgb(5, 5, 5);
   padding: 12px 20px;
   background-color: whitesmoke;
   font-family: 'CaviarDreams';
   box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
   font-size:18px;
   float:right;
}
.c1 form a:hover{
    background-color: white;

}

.loo{
    width: 95%;
    margin: auto;
    text-align: right;
    padding: 25px 0px;
    display: none;
}
.loo a{
    text-align: right;
    background-color: whitesmoke;
    padding: 10px 20px;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.10), 0 6px 10px rgba(0, 0,0, 0.12);
    margin-right: 10px;
}
.loo a:hover{
    background-color:  rgba(240, 204, 106, 0.23);
}
/*
#page-table{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#page-td{
    vertical-align: middle;
}
#global{
    width: 500px;
    margin: 20px auto;
    text-align: left;
    border:1px solid red;
}*/
.con{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.log{
    width:70% ;
    display: flex;
    flex-direction: row;
    min-height: 350px;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.24), 0 6px 10px rgba(0, 0,0, 0.23);
}
.log div{
    width: 50%;
}
.log div:first-child img{
    width: 100%;
    height: 100%;
}
.log div:last-child{
    padding: 10px;
    display: flex;
justify-content: center;
align-items: center;
background-image: linear-gradient(#ece9e6,#ffffff);
}
.log div:last-child form{

    width: 100%;
    height: 100%;
}
.log div:last-child form label{
    font-family: 'CaviarDreams';
    width: 100%;
  line-height: 2;
  font-size: 20px;
}
.log div:last-child form .i{
    width: 100%;
    font-family: 'Roboto-Thin';
    font-size: 18px;
    text-align: center;
    height: 35px;
    border:none;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.12), 0 6px 10px rgba(0, 0,0, 0.18);
}
.log div:last-child form .i1{
float: right;
font-family: 'CaviarDreams';
padding: 15px 25px;
cursor: pointer;
font-size:15px;
border:none;
}
.log div:last-child form .i1:hover{
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.12), 0 6px 10px rgba(0, 0,0, 0.18);
    background-color: white;
}
.log div:last-child form .cent{
    margin-bottom: 10px;
}
.cent1{
    margin: 10px 0px;
}
.log div:last-child form p {
    width: 100%;
  
}
.log div:last-child form p img{
    background-color: wheat;
    padding: 10px ;
    border-radius: 30px;
     box-shadow: 0 3px 6px rgba(0, 0,0, 0.12), 0 6px 10px rgba(0, 0,0, 0.18);
}
.log div:last-child form p img:hover{
    background-color: white;
}
.cent2{
   width: 100%;
   background-color: white;
   box-shadow: 0 3px 6px rgba(0, 0,0, 0.12), 0 6px 10px rgba(0, 0,0, 0.18);
   padding: 10px 0px;
   margin: 5px 0px;
   color:red;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.cent1 a{
    font-family: 'CaviarDreams';
    color: green;
    margin-right:10px;
}
.cent1 a:hover{
    text-decoration: underline;
}
.loa{
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;

}
.loa span{
    margin-right: 5px;
}
.loa div:first-child{
    float: right;
}
.loa div:last-child{
    float: left;
}
.ef{
    visibility: hidden;
}