@media only screen and (max-width: 959px) {
    .s1-car{
        flex-direction: column;
       padding: 10px;
    }
    .s2-car{
        width: 100%;
        margin-bottom: 25px;
    }
    .container{
        width:95%;
    }
    .cont0{
        flex-direction: column;
    }
    .cont0 div{
        width: 100%;
       margin-bottom: 15px;
    }
    .in{
        flex-direction: column;
    }
    .inscr{
        width: 100%;
        padding: none;
    }
    .inp{
        width: 100%;
    }
    .loo{
        display: block;
    }
    .h1{
        visibility: hidden;
    }
    .inc{
        padding: 150px 0px;
      
    }
    .log{
        flex-direction: column;
        width: 100%;
     
    }
    .log div{
        width: 100%;
    }
    .con{
        margin: 70px 0px;
        padding: 25px 10px;
    }
    .ef{
        visibility: visible;
    }
    .loa div:first-child{
        float: left;
    }
    .loa div:last-child{
        float: right;
    }
}