#dash{
    width: 100%;
    padding-top:100px;
}
.sec{
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    padding: 15px 10px;
    
}
.sec2{
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.16), 0 6px 10px rgba(0, 0,0, 0.23);
}
.sec001{
    width: 20%;
    padding: 20px 0px;
    height: 400px;
    overflow-y: scroll;
}


.sec001  a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 25px;
    font-family: 'CaviarDreams';
}
.sec001  a:hover{
    border-left: 2px solid rgb(17, 99, 251);
    background-color: white;
}
.sec002{
    width:80%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    padding: 25px 20px;
}
.sec002 .d1{ 
    width: 25%;
    height: 80px;
    background-color: whitesmoke;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;   
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.16), 0 6px 10px rgba(0, 0,0, 0.23);
}
.sec002 .d1 h4{ 
    font-family: 'CaviarDreams';
    text-align: center;
    font-size: 18px;
    color: gray;
}
.d1 .info span{
    float: left;
    position: relative;
    top: 5px;
    font-size: 20px;
    font-family: 'Roboto-Thin';
    color:rgb(17, 99, 251);
    
}
.d1 .info img{
    float: right;
}
hr{
    height: 1px;
}
#l1{
}

